{{template "header"}}
<div class="container">
    <div>
        <main>
        {{range .Usernames}}
            <section>
                <div>
                    <button class="btn btn-secondary" id="{{.}}">Unfollow</button>
                    <span>{{.}}</span>
                </div>
                <br>
            </section>
        {{end}}
        </main>
    </div>
</div>
<script>
    var button_collections = document.getElementsByClassName("btn btn-secondary");
    var buttons = Array.from(button_collections);
    buttons.forEach(function(element) {
        element.addEventListener('click', function() {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/unfollow');
            xhr.send(element.id);
            xhr.addEventListener('readystatechange', function(){
                // alert("success");
            });
            location.reload();
        });
    });
</script>
{{template "footer"}}